@import url("normalize.css");
@font-face {
	font-family: neufreit;
	src: url(../public/Neufreit-ExtraBold.otf);
  }
@font-face {
	font-family: sansation;
	src: url(../public/Sansation_Regular.ttf)
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #e6e6e6;
	color: #2b3538;
	font-family: sansation , sans-serif;
	font-weight: 400;
	width: 80%;
	font-size: 16px;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	clear: both;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
}

header {
	clear: both;
}
.portada {
	background-color: #b69f41;
	color: #FFF;
	padding: 10% 5%;
	float: left;
	cursor: pointer;
	-webkit-box-shadow: 5px 5px 8px -1px rgba(135,135,135,1);
-moz-box-shadow: 5px 5px 8px -1px rgba(135,135,135,1);
box-shadow: 5px 5px 8px -1px rgba(135,135,135,1);
}

#portada:hover > .portada{
	background-color: #9f7e39;
}
header img{
	width: 50%;
}

#buscador-box {
	position: absolute;
	/* position: sticky; */
	/* float: right; */
	top: 70%;
	left: 70%;
	transform: translate(-50%,-50%);
	background-color: #b69f41;
	height: 60px;
	border-radius: 40px;
	padding: 10px;
}

#buscador-box:hover > #buscador-input{
	width: 240px;
	padding: 0 6px;
}

/* #buscador-input:keydown {
	width: 240px;
	padding: 0 6px;
} */

#buscador-box:hover > #buscador-btn{
	background: white;
	color: #9f7e39;
}

#buscador-btn {
	color: #ffffff;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #b69f41;
	display:flex;
	justify-content: center;
	align-items: center;
	transition:0.4s ;
	border: 1px solid #b69f41;
}

#buscador-box
#buscador-input {
	border: none;
	background: none;
	outline: none;
	float:left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	width: 0px;
	/* background
	-color: #b69f41;
	color: #fff;
	float: left;
	display: inline; */
}

#star{
	color:grey
}

#star:hover{
	color:#9f7e39
}

#star:click{
	color:#b69f41;
}

div#imagen-sh img{
	width: 80%;
	border-radius: 2px;

}

/* #buscador:focus{
	background-color: #9f7e39 ;
} */


h1{
	font-family: neufreit;
	font-size: 3rem;
}

h2 {
	clear: both;
	display: block;
}

#paginacion button {
	background-color: #b69f41;
}

#paginacion button:hover {
	background-color: #9f7e39;
}

main img {
	width: 255px;
	height: 255px;
	border-radius: 50%;
}

#contenedor div {
	padding: 5% 15%
}

button:hover{
	background-color: #51b093
}


@media only screen and (max-width: 480px) {
	.paso-1 .btn-film {
		width: 78px;
		font-size: 12px;
	}

}